<main id="invoice_preview" *ngIf="invoice.Id > 0" style="margin-top: 20px; padding-top: 60px;background-color: aliceblue;">
  <article id="preview" style=" background-color: white;">
    <header>
      <h1 style="text-align: start;">Prestação de Serviços</h1>
      <div class="d-flex align-items-center">{{consultant.CompanyName}}</div>
    </header>
    <section id="preview-invoice-data" class="mt-5">
      <div><strong>Número: #</strong>{{invoice.Id}}</div>
      <div>
        <strong>Vencimento:</strong>
        {{(invoice.DueDate)}}
      </div>
    </section>
    <hr class="divisor mt-5">

    <div id="preview-invoice-values" class="mt-5">
      <div class="">
        <div class="">Valores referentes ao mês de <strong>{{(invoice.ReferenceFullMonth)}}</strong> de
          {{(invoice.ReferenceYear)}}
        </div>

        <div class="mt-5">
          <div class="">
            <h2>{{client.Name}}</h2>
            <div><strong>Responsável:</strong> {{client.CompanyRepresentativeName}} </div>
            <div *ngIf="client.Email">{{client.Email}} </div>
          </div>
        </div>

        <hr class="mt-5">

        <table class="table mt-5" *ngIf="invoice.InvoiceItems.length > 0">
          <thead class="">
            <th>#</th>
            <th>Descrição</th>
            <th>Qutd.</th>
            <th>Valor</th>
            <th>Total</th>
          </thead>
          <tbody>
            <tr *ngFor="let invoiceItem of invoice.InvoiceItems; let ind = index">
              <td>{{ind + 1}}.</td>
              <td>{{invoiceItem.Description}}</td>
              <td>{{invoiceItem.Quantity}}</td>
              <td>{{invoiceItem.Price | currency}}</td>
              <td>{{invoiceItem.Total | currency}}</td>
            </tr>
          </tbody>
        </table>

        <div class="total-value mt-5">
          <span><strong>Total:</strong> {{invoice.Total | currency}}</span>
        </div>
      </div>
      <hr class="mt-5">
    </div>

    <footer>

      <section class="mt-5">
        <h3>Conta</h3>
        <strong>{{consultant.CompanyName}}</strong>
        <div><strong>Banco:</strong> {{consultant.BankName}}</div>
        <div><strong>Pix:</strong> {{consultant.PixKey}}</div>
      </section>
      <section id="signature-sec" class="mt-5 ">

        <div class="d-flex align-items-end">
          <div class="flex-grow-1">
            <h4>Obrigado</h4>
          </div>
          <div class="d-flex flex-column  ">
            <img style="width: 24.5rem" src="{{consultant.Signature ?
              consultant.Signature:'/assets/image/default-signature.png'}}" />
            <hr style="margin-top: -6rem;" />
            <div style="margin-top: -1rem; font-size: 1rem;" class="text-center">Consultor</div>
          </div>
        </div>
      </section>
    </footer>
  </article>
  <section>
    <div class="btn-info my-5 p-3" style="cursor:pointer; width: 20em; margin:auto; text-align: center;"
      (click)="generateInvoice()">Generate
      Invoice</div>
  </section>
</main>

<ng-template #listaVazia>
  Sua requisição não obteve resultados
</ng-template>