<main>
  <ng-container *ngIf="client; else listaVazia">
    <header>
      <h2>{{client.Name}}</h2>
      <div><strong>Representante: </strong>{{client.CompanyRepresentativeName}}</div>
      <div><strong>Email: </strong>{{client.Email}}</div>

    </header>
    <hr>
    <h2>Invoices</h2>
    <!-- <section *ngFor="let invoice of client.Invoices">
      <span (click)="openInvoice(invoice.Id)" class="cursor-pointer">{{invoice.Id}}</span>
    </section> -->

    <select>
      <option *ngFor="let invoice of client.Invoices" (click)="openInvoice(invoice.Id)">{{invoice.Id}}</option>
    </select>
  </ng-container>

  <section *ngIf="invoiceId > 0" id="invoice-section" class="mt-5">
    <span class="cursor-pointer" (click)="backToTheTop()">Voltar ao topo</span>
    <section><app-invoice [consultantCompanyName]="consultantCompanyName" [client]="client"
        [invoiceId]="invoiceId"></app-invoice></section>
  </section>
</main>

<ng-template #listaVazia>
  Sua requisição não obteve resultados
</ng-template>