<main>
  <ng-container *ngIf="client; else listaVazia">
    <header>
      <h2>{{client.Name}}</h2>
      <div><strong>Representante: </strong>{{client.CompanyRepresentativeName}}</div>
      <div><strong>Email: </strong>{{client.Email}}</div>

    </header>
    <hr>
    <section id="invoices-menu">
      <h2>Invoices</h2>
      <div *ngFor="let invoice of client.Invoices">
        <span (click)="openInvoice(invoice.Id)" class="cursor-pointer">{{invoice.Id}}</span>
      </div>
    </section>
  </ng-container>

  <section *ngIf="invoiceId > 0" id="invoice-section" class="mt-5 mb-5" style="height: 100vh;border: 1px solid #ccc;">
    <span class="cursor-pointer" (click)="backToTheTop()">Voltar ao topo</span>
    <span class="mr-1 ml-5">|</span>
    <span class="cursor-pointer" (click)="backToInvoicesMenu()">Voltar ao Menu de Invoices</span>
    <section><app-invoice [consultant]="consultant" [client]="client" [invoiceId]="invoiceId"></app-invoice></section>
  </section>
</main>

<ng-template #listaVazia>
  Sua requisição não obteve resultados
</ng-template>