<main>
  <article id="preview">
    <div class="main-content">
      <header>
        <h1>Prestação de Serviços</h1>
        <div id="preview-invoice-data">
          <div class="consultant-name">{{invoice.consultant.fullName}}</div>
          <div><strong>Número: #</strong>{{invoice.number}}</div>
          <div>
            <strong>Vencimento:</strong>
            {{dateTransform(invoice.dueDate)}}
          </div>
        </div>
      </header>

      <div id="preview-invoice-values" class="mt-5">
        <div class="reference-period">
          Valores referentes ao mês de <strong>{{(invoice.referenceFullMonth)}}</strong> de
          <strong>{{(invoice.referenceYear)}}</strong>
        </div>

        <div class="client-section">
          <h2>{{invoice.client.name}}</h2>
          <div class="client-info"><strong>Responsável:</strong> {{invoice.client.companyRepresentativeName}}</div>
          <div *ngIf="invoice.client.email" class="client-info">{{invoice.client.email}}</div>
        </div>

        <table class="table mt-5" *ngIf="invoice.services.length > 0">
          <thead>
            <tr>
              <th>#</th>
              <th>Descrição</th>
              <th class="text-center">Qutd.</th>
              <th class="text-end">Valor</th>
              <th class="text-end">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of invoice.services; let ind = index">
              <td>{{ind + 1}}.</td>
              <td>
                <div class="service-desc">{{service.description}}</div>
                <div *ngIf="service.observation" class="observation">
                  <small>* {{service.observation}}</small>
                </div>
              </td>
              <td class="text-center" [class.highlight-green]="service.description.includes('Valor abatido')">{{service.quantity}}</td>
              <td class="text-end" [class.highlight-green]="service.description.includes('Valor abatido')">{{formatMoeda(service.price)}}</td>
              <td class="text-end" [class.highlight-green]="service.description.includes('Valor abatido')">{{formatMoeda(service.total)}}</td>
            </tr>
          </tbody>
        </table>

        <div class="total-value mt-5">
          <span><strong>Total:</strong> {{formatMoeda(invoice.total)}}</span>
        </div>
      </div>
    </div>

    <footer>
      <section class="invoice-details">
        <h3>Conta</h3>
        <strong>{{invoice.consultant.fullName}}</strong>
        <div><strong>Banco:</strong> {{invoice.consultant.bankName}}</div>
        <div><strong>Pix:</strong> {{invoice.consultant.pixKey}}</div>
      </section>

      <section id="signature-sec" class="mt-5">
        <div class="d-flex align-items-end justify-content-end">
          <div class="thanks-msg">
            <h4>Obrigado</h4>
          </div>
        </div>
      </section>
    </footer>
  </article>
  <section class="d-flex justify-content-center w-100">
    <button class="btn-generate" (click)="generateInvoice()">
      Generate Invoice
    </button>
  </section>
</main>